body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Courier New, Courier, monospace;
}

.avatar {
    width: 110px;
    height: 180px;
    align-self: center;
    border: 3px solid #90E0EF;
    border-radius: 3px;
    transition: box-shadow 1.5s ease, transform 2s ease;
}

.avatar:hover {
    box-shadow: 5px 10px 3px #00B4D8;
    transform: rotate(360deg);
}

.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background: #03045E;
    color: #90E0EF;
    border-bottom: 13px solid #0077B6;
    border-radius: 20px; 
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.info-container {
    align-content: space-around;
}


.personal-info-container {
    line-height: 5px;
}

.contact-container {
    text-align: center;
    line-height: 5px;
    margin-top: 40px;
}

.line-spacing {
}

.dotted-border {
    border: ;
}
/*s Utility Class/



/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
